.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
  }
  
  .footer p {
    margin-bottom: 0;
  }
  
  .footer ul.list-inline {
    margin-bottom: 0;
  }
  
  .footer ul.list-inline li {
    margin-right: 15px;
  }
  
  .footer ul.list-inline li:last-child {
    margin-right: 0;
  }
  
  .footer ul.list-inline li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer ul.list-inline li a:hover {
    text-decoration: underline;
  }